<nav class="navbar navbar-expand-lg navbar-light fixed">
  <a class="navbar-brand" routerLink="/"
    ><img class="logo" src="../../../assets/covidImages/COVID-LOGO.png" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleNav()"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    [ngClass]="{ show: navOpen }"
  >
    <ul class="navbar-nav float-left">
      <li RouterLinkActive="active current" class="nav-item">
        <a class="nav-link" routerLink="/info">About Covid-19 </a>
      </li>
      <li RouterLinkActive="active current" class="nav-item">
        <a class="nav-link" routerLink="/global-stats">Global Statistics</a>
      </li>

      <li RouterLinkActive="active current" class="nav-item">
        <a class="nav-link" routerLink="/country">Country</a>
      </li>
      <li RouterLinkActive="active current" class="nav-item">
        <a class="nav-link" routerLink="/indian-states">Indian States</a>
      </li>
    </ul>
  </div>
</nav>
