<div class="WRAPPER_COUNTRY">
  <section>
    <div class="input-group">
      <select
        #input
        (change)="getCountry(input.value)"
        class="custom-select"
        id="inputGroupSelect04"
        aria-label="Example select with button addon"
      >
        <option selected>PLEASE SELECT YOUR COUNTRY</option>
        <option *ngFor="let cn of countryNames" value="{{ cn }}">{{
          cn
        }}</option>
      </select>
    </div>
  </section>

  <section>
    <div @fade class="stat-box">
      <div class="heading">
        <h1>CURRENT STATUS OF COVID-19 COUNTRY WISE</h1>
      </div>
      <div class="total-cases text-center">
        <h1>TOTAL CONFIRMED</h1>
        <br />

        {{ confirmed | number }}
      </div>
      <div class="total-deaths text-center">
        <h1>TOTAL DEATHS</h1>
        <br />

        {{ deaths | number }}
      </div>
      <div class="total-recovered text-center">
        <h1>TOTAL RECOVERED</h1>
        <br />

        {{ recovered | number }}
      </div>
    </div>
  </section>

  <div class="globalChart float-center">
    <canvas id="countryData"></canvas>
  </div>
</div>
